.slider__button,
.slider__button_path {
  transition: all 0.7s;
}

.slider__button {
  width: 60px;
  height: 60px;
  fill: transparent;
  cursor: pointer;

  &_left {
    transform: rotate(180deg);
  }

  &:hover {
    fill: #665F55;
  }

  &:hover .slider__button_arrow {
    stroke: $Text-Light;
  }

}
